* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(246, 245, 247);
    margin: 0%;
    align-items: center;
    justify-content: center;
    margin: -20px 0 50px;

}

.container {
    display: flex;
    max-width: 768px;
    max-height: 480px;
    border: 0px solid transparent;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 10px 15px 3px rgb(18, 18, 18, 40%);


}

.container_sign_in {
    display: flex;
    flex: 1;
    border-left: 0px solid transparent;

}

.container_sign_in>form {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid transparent;
    margin: 0 50px;
    width: 284px;
    height: 480px;

    align-items: center;
    text-align: center;
    justify-content: center;
}




.container_sign_in>form>input[type="text"] {

    width: 284px;
    height: 39px;
    margin: 8px 0;
    padding: 12px 15px;
    border: 0px solid transparent;
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

.container_sign_in>form>h1 {
    width: 117.16px;
    height: 39px;
    margin: 0 0;
    font-weight: 800;
    font-size: 32px;

}

.container_sign_in>form>span {
    width: auto;
    height: 15px;
    font-size: 12px;
    margin: 0 0;
    color: black;


}

.container_sign_in>form>a {

    width: auto;
    height: 18px;
    margin: 15px 0;
    padding: 0 0;
    text-decoration: none;
    font-size: 14px;
}

.btn-sign-in {
    margin: 0 0;
    width: 143.672px;
    height: 40px;
    padding: 12px 45px;
    border: 1px solid transparent;
    background-color: rgb(255, 75, 43);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;

}

.container_sign_up {
    display: flex;

    background-image: linear-gradient(to right, rgb(255, 70, 79), rgb(255, 65, 106));
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.container_sign_up>form {
    display: flex;
    flex-direction: column;

    border: 1px solid transparent;

    margin: 0 50px;
    width: 284px;
    height: 480px;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.container_sign_up>form>h1 {
    width: 225.312px;
    height: 39px;
    margin: 0 0;
    color: white;
    font-weight: 800;
    font-size: 32px;

}

.container_sign_up>form>p {
    width: 304px;
    height: 40px;
    margin: 20px 0 30px 0;
    padding: 0 0;
    color: white;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;

}

.btn-sign-up {
    margin: 0 0;
    width: 148.344px;
    height: 40px;
    padding: 12px 45px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;

}

footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;


}

footer>p {
    width: 100%;
    height: 20px;
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.btn-sign-in:active,
.btn-sign-up:active {
    transform: scale(90%);
    transition: 0.5s;
}
